@import '@/styles/mixins.scss';

.gide-page {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    gap: 40px;
  }

  @include media-breakpoint-down(lg) {
    gap: 20px;
  }
  
  @include media-breakpoint-down(lg) {
    padding-bottom: 50px;
  }
}