@import '@/styles/mixins.scss';

.booking-variants {
  position: relative;

  &__wrapper {
    display: grid;

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 40px;
    }

    &:not(.one-child) {
      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
