@import "@/styles/mixins.scss";

.booking-variants {
  position: relative;

  &__wrapper {
    display: grid;

    @include media-breakpoint-down(lg) {
      gap: 20px;
      margin-top: 20px;
    }

    @include media-breakpoint-up(lg) {
      gap: 40px;
      margin-top: 40px;
    }

    &:not(.one-child) {
      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}