@import "@/styles/mixins.scss";

.booking-signup-content {
  position: relative;

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    > *:first-child {
      @include media-breakpoint-up(lg) {
        margin-right: 40px;
        max-width: 1214px;
      }
    }
  }
}
