@import "@/styles/mixins.scss";

.checkout-summary {
  background: var(--white-transperent, rgba(255, 255, 255, 0.1));
  box-shadow: 0px 0px 21px 0px rgba(22, 23, 26, 0.6);
  height: fit-content;

  @include media-breakpoint-down(md) {
    order: -1;
  }

  @include media-breakpoint-down(lg) {
    padding: 18px;
    border-radius: 12px;
  }

  @include media-breakpoint-up(lg) {
    border-radius: 30px;
  }

  @include media-breakpoint-between(lg, xxl) {
    padding: 25px 40px;
  }

  @include media-breakpoint-up(xxl) {
    padding: 40px 50px;
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(lg) {
      padding-bottom: 14px;
      margin-bottom: 20px;
      border-bottom: 1px solid var(--white, #fff);
    }

    @include media-breakpoint-up(lg) {
      border-bottom: 2px solid var(--white, #fff);
    }

    @include media-breakpoint-between(lg, xxl) {
      padding-bottom: 26px;
      margin-bottom: 36px;
    }

    @include media-breakpoint-up(xxl) {
      padding-bottom: 40px;
      margin-bottom: 55px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white, #fff);
    font-weight: 500;

    @include media-breakpoint-down(lg) {
      font-size: 12px;
    }

    @include media-breakpoint-between(lg, xxl) {
      font-size: 20px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 30px;
    }

    &:not(:last-of-type) {
      @include media-breakpoint-down(lg) {
        margin-bottom: 8px;
      }

      @include media-breakpoint-between(lg, xxl) {
        margin-bottom: 16px;
      }

      @include media-breakpoint-up(xxl) {
        margin-bottom: 24px;
      }
    }
  }

  &__summary {
    color: var(--white, #fff);
    font-weight: 600;
    line-height: 113%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
      margin-bottom: 14px;
    }

    @include media-breakpoint-between(lg, xxl) {
      font-size: 26px;
      margin-bottom: 30px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 40px;
      margin-bottom: 40px;
    }
  }

  &__summary-error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
}
