.account-auth {
  position: relative;

  &__wrapper {
    display: flex;
    width: 100%;
    padding: calc(84px + 74px) 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}
