@import "../styles/mixins.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --spacing-container: 20px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--black, #212428);
}

.main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
