@import "../styles/mixins.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--black, #212428);
}

.main {
  flex-grow: 1;
  padding-bottom: 94px;

  &.account {
    @include media-breakpoint-down(xl) {
      padding-top: 10px;
    }

    @include media-breakpoint-between(xl, xxl) {
      padding-top: calc(79px + 30px);
    }

    @include media-breakpoint-up(xxl) {
      padding-top: calc(84px + 50px);
      padding-bottom: 94px;
    }
  }
}

.account-page-wrapper {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(xl) {
    gap: 20px;
  }

  @include media-breakpoint-between(xl, xxl) {
    gap: 30px;
  }

  @include media-breakpoint-up(xxl) {
    gap: 40px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
