@import '@/styles/mixins.scss';

.account-login-form {
  width: fit-content;
  width: 100%;
  overflow: auto;

  @include media-breakpoint-down(xl) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black, #212428);
  }

  @include media-breakpoint-down(xxxl) {
    padding: 50px 30px 30px 30px;
  }

  @include media-breakpoint-up(xxxl) {
    padding: 70px 40px 40px 40px;
    max-width: 656px;
    border-radius: 30px;
    box-shadow: 0px 0px 21px 0px rgba(22, 23, 26, 0.6);
  }

  @include media-breakpoint-up(xl) {
    background: #484848;
  }

  @include media-breakpoint-between(xl, xxxl) {
    max-width: 532px;
    padding: 51px 30px 30px 30px;
    border-radius: 22px;
    box-shadow: 0px 0px 15.75px 0px #16171a99;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(xl) {
      gap: 20px;
      max-width: 400px;
      margin: 0 auto;
    }

    @include media-breakpoint-between(xl, xxxl) {
      gap: 30px;
    }

    @include media-breakpoint-up(xxxl) {
      gap: 40px;
    }
  }

  &__logo {
    display: flex;
    margin: 0 auto;

    @include media-breakpoint-down(xl) {
      width: 222.585px;
      height: 214.678px;
    }

    @include media-breakpoint-between(xl, xxl) {
      width: 183px;
      height: 177px;
    }

    @include media-breakpoint-up(xxxl) {
      width: 197px;
      height: 190px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    color: var(--white, #fff);
    font-weight: 600;
    line-height: 117%;

    @include media-breakpoint-down(xl) {
      font-size: 24px;
      letter-spacing: -0.24px;
    }

    @include media-breakpoint-between(xl, xxxl) {
      font-size: 38px;
      letter-spacing: -0.01em;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 50px;
      letter-spacing: -0.5px;
    }
  }
}
