@import '@/styles/mixins.scss';

.studio-guide-helper {
  position: relative;

  // @include media-breakpoint-up(xxxl) {
  //   padding-top: 40px;
  // }

  // @include media-breakpoint-between(lg, xxxl) {
  //   padding-top: 30px;
  // }

  // @include media-breakpoint-down(lg) {
  //   padding-top: 20px;
  // }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 600;
    color: #fff;

    @include media-breakpoint-up(xxxl) {
      font-size: 50px;
      line-height: 58.5px;
      text-align: center;
    }

    @include media-breakpoint-between(lg, xxxl) {
      font-size: 38px;
      line-height: 44.46px;
      text-align: center;
    }

    @include media-breakpoint-between(lg, xxxl) {
      font-size: 38px;
      line-height: 44.46px;
      text-align: center;
    }

    @include media-breakpoint-down(lg) {
      font-size: 24px;
      line-height: 28.08px;
    }
  }

  &__items2 {
    @include media-breakpoint-up(xxxl) {
      padding: 0 40px;
      margin: 0 -30px;
    }

    @include media-breakpoint-between(xl, xxxl) {
      padding: 0 37px;
      margin: 0 -30px;
    }

    @include media-breakpoint-down(xl) {
      margin: 0 -30px;
    }

    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      height: 100%;
      background: #212428;
      box-shadow: 0 0 18px 30px #212428;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__items {
    // @include media-breakpoint-up(xxxl) {
    //   padding: 0 40px;
    //   margin: 0 -30px;
    // }

    // @include media-breakpoint-between(xl, xxxl) {
    //   padding: 0 37px;
    //   margin: 0 -30px;
    // }

    // @include media-breakpoint-down(xl) {
    //   margin: 0 -30px;
    // }

    // position: relative;

    // &::before,
    // &::after {
    //   content: '';
    //   position: absolute;
    //   z-index: 2;
    //   top: 0;
    //   height: 100%;
    //   background: #212428;
    //   box-shadow: 0 0 18px 30px #212428;
    // }

    // &::before {
    //   left: 0;
    // }

    // &::after {
    //   right: 0;
    // }
  }

  &__slider {
    // position: relative;

    // &::before,
    // &::after {
    //   content: '';
    //   position: absolute;
    //   z-index: 2;
    //   top: 0;
    //   height: 100%;
    //   background: #212428;
    //   box-shadow: 0 0 18px 30px #212428;
    // }

    // &::before {
    //   left: 0;
    // }

    // &::after {
    //   right: 0;
    // }
  }

  &__slide {
    // @include media-breakpoint-up(xxxl) {
    //   padding: 40px 20px;
    // }

    // @include media-breakpoint-between(xl, xxxl) {
    //   padding: 35px 17.5px;
    // }

    // @include media-breakpoint-down(xl) {
    //   padding: 20px 10px;
    // }
  }
}