@import "@/styles/mixins.scss";

.booking-steps {
  position: relative;

  @include media-breakpoint-down(lg){
    order: -1;
    margin-bottom: 20px;
  }

  &__wrapper {
    background: var(--white-transperent, rgba(255, 255, 255, 0.1));
    box-shadow: 0px 0px 21px 0px rgba(22, 23, 26, 0.6);
    width: fit-content;
    height: fit-content;

    @include media-breakpoint-down(lg) {
      border-radius: 15px;
      padding: 18px;
      display: flex;
      align-items: center;
      width: 100%;

    }

    @include media-breakpoint-up(lg) {
      border-radius: 30px;
    }

    @include media-breakpoint-between(lg, xxl) {
      padding: 28px;
    }

    @include media-breakpoint-up(xxl) {
      padding: 40px;
    }
  }

  &__tag {
    color: #fff;
    text-align: center;
    font-weight: 500;
    line-height: 135%;
    width: fit-content;

    @include media-breakpoint-down(lg) {
      font-size: 12px;
      padding: 2px 13px;
      border-radius: 18px;
      margin-right: 15px;
      border: 1px solid var(--white, #fff);
    }

    @include media-breakpoint-up(lg) {
      border-radius: 41px;
      border: 2px solid var(--white, #fff);
    }

    @include media-breakpoint-between(lg, xxl) {
      font-size: 18px;
      margin-bottom: 12px;
      padding: 2px 15px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 26px;
      margin-bottom: 18px;
      padding: 4px 30px;
    }
  }

  &__text {
    color: var(--white, #fff);
    font-weight: 500;
    line-height: 135%;

    @include media-breakpoint-down(lg) {
      font-size: 12px;
    }

    @include media-breakpoint-between(lg, xxl) {
      font-size: 20px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 26px;
    }
  }
}
