@import '/src/styles/mixins.scss';

.package-header {
  @include media-breakpoint-up(xxxl) {
    margin-bottom: 35px;
  }

  @include media-breakpoint-between(xl, xxxl) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-between(lg, xl) {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 110px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #37393d;
    overflow: auto;
  }

  @include media-breakpoint-down(lg) {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #37393d;
    overflow: auto;
    // box-shadow: inset 0 0 20px 10px #000000;
  }

  &__inner {
  }

  &__items {
    display: flex;
    align-items: center;

    @include media-breakpoint-up(xxxl) {
      flex-wrap: wrap;
      gap: 35px;
    }

    @include media-breakpoint-between(lg, xxxl) {
      flex-wrap: wrap;
      gap: 30px;
    }

    @include media-breakpoint-between(sm, lg) {
      flex-wrap: nowrap;
      gap: 25px;
    }
    
    @include media-breakpoint-down(sm) {
      flex-wrap: nowrap;
      gap: 15px;
    }
  }
}